html {
    font-family: sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}

#banner {
     width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}

.titulo-cliente {
    text-align: center;
    padding: 20px;
    padding-bottom: 70px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.margin-left {
    margin-left: 100px;
}

.clientes-satisfeitos p {
    vertical-align: middle;
    padding: 8px;
    text-align: left;
}